<!DOCTYPE html>
<html>

<head>
    <title>Shared Draw Game</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/draw.css" />

</head>

<body>
    <div>
        <h3>Nome: <%= name %> | Palavra: <%= word %></h3>
    </div>
    <div>
        <canvas id="canvas"></canvas>
    </div>
    <script type="text/javascript" src="../socket.io.min.js"></script>
    <script type="text/javascript" src="../js/draw.js"></script>
</body>

</html>