* { 
    margin: 0;
    padding: 0;
 }
 body, html{
    width: 100%;
    height: 100%;
 }
 #canvas {
    display: block;
 }

 .colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

.title{
   position: absolute;
    left:80%;
    margin-left:-20px
}
